@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
    font-family: 'Comfortaa', cursive;
}

body {
    margin: 0;
    background: url('images/background4.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
    color: white;
}

a {
    text-decoration: none;
}

.shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(39, 39, 39, 0.2);
}

/* ------------------header------ */


.header {
    position: absolute;
    width: 100%;
    height: 15vh;
    top: 0;
    z-index: 10;
    background: rgb(20, 20, 20, 0.8);
}

.strip {
    height: 3px;
    width: 50%;
    background: rgb(228, 216, 107);
    border: none;
    margin: 7%;
    padding: 0;
}

#navigation:hover .strip {
    animation: move 0.3s linear;
}

#navigation {
    float: left;
    height: 80%;
    width: 5%;
    margin-left: 5%;
    margin-top: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#navigation_ol {
    position: absolute;
    z-index: 3;
    top: -0.5vw;
    left: -25vw;
    width: 20vw;
    height: 100vh;
    display: none;
    background: rgb(51, 45, 45);
    margin: 0;
    padding: 0;
    padding-top: 10vh;

}

.menu_item {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: rgb(206, 205, 209);
    font-weight: 500;
    transition: 0.5s ease-in all;
}

.menu_item:hover {
    background: rgb(66, 65, 66);
    color: orangered;
}

.logo {
    width: 20%;
    height: 100%;
    margin-right: 5%;
    float: right;
}

.logotype {
    width: 100%;
    height: 100%;
    max-width: 100%;
}


/* ------------------end of header------ */


/* -------------------------main-------- */

.main {
    position: absolute;
    top: 15vh;
    width: 100%;
    padding-bottom: 5%;
}

h1 {
    font-size: 3.5em;
    font-weight: 400;
    /* color: rgb(167, 167, 167); */
}

.center {
    text-align: center;
}

.menu-sign {
    background: rgb(19, 18, 18, 0.8);
}

.back_for_photo {
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    background: rgb(19, 18, 18, 0.8);
    padding: 10px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    border-radius: 30px;
    width: 20vw;
    height: 55vh;
    border: 1px solid white;
    transition: .3s ease all;
}

.product:hover {
    transform: scale(1.02);
}

.dish1 {
    background: url(images/menu_pics/main_menu/borsch.jpg) 100% 100% no-repeat;
    background-size: cover;
}

.dish2 {
    background: url(images/menu_pics/main_menu/cream-soup.jpg) 50% 100% no-repeat;
    background-size: cover;
}

.dish3 {
    background: url(images/menu_pics/main_menu/uhakrasnayaryba.jpg) 40% 100% no-repeat;
    background-size: cover;
}

.dish4 {
    background: url(images/menu_pics/main_menu/varenyky.jpg) 40% 100% no-repeat;
    background-size: cover;
}

.dish5 {
    background: url(images/menu_pics/main_menu/kartoshka.jpg) 40% 100% no-repeat;
    background-size: cover;
}

.dish6 {
    background: url(images/menu_pics/main_menu/kotleta-po-kievsky.jpg) 40% 100% no-repeat;
    background-size: cover;
}

.drink1 {
    background: url(images/menu_pics/bar/holodniychay.jpg) 50% 100% no-repeat;
    background-size: cover;
}

.drink2 {
    background: url(images/menu_pics/bar/lemonade.jpg) 50% 100% no-repeat;
    background-size: cover;
}

.drink3 {
    background: url(images/menu_pics/bar/juice.jpg) 5% 100% no-repeat;
    background-size: cover;
}

.drink4 {
    background: url(images/menu_pics/bar/Sex_on_the_Beach.jpg) 5% 70% no-repeat;
    background-size: cover;
}

.drink5 {
    background: url(images/menu_pics/bar/pina-colada.jpg) 40% 70% no-repeat;
    background-size: cover;
}

.drink6 {
    background: url(images/menu_pics/bar/golubayalaguna.jpg) 40% 70% no-repeat;
    background-size: cover;
}

.dessert1 {
    background: url(images/menu_pics/desserts/tiramisu.jpg) 5% 100% no-repeat;
    background-size: cover;
}

.dessert2 {
    background: url(images/menu_pics/desserts/cheesecake.jpg) 5% 100% no-repeat;
    background-size: cover;
}

.dessert3 {
    background: url(images/menu_pics/desserts/panakota.jpg) 50% 100% no-repeat;
    background-size: cover;
}

.dessert4 {
    background: url(images/menu_pics/desserts/klafuti.jpg) 50% 100% no-repeat;
    background-size: cover;
}

.dessert5 {
    background: url(images/menu_pics/desserts/icecream.jpg) 50% 70% no-repeat;
    background-size: cover;
}

.dessert6 {
    background: url(images/menu_pics/desserts/traifl.jpg) 50% 70% no-repeat;
    background-size: cover;
}

.title {
    width: 100%;
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20%;
    background: rgb(19, 18, 18, 0.8);
}

.price {
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    text-align: center;
    background: rgb(19, 18, 18, 0.8);
}

.price::after {
    content: " грн.";
}

.choose,
.btn-order {
    width: 10vw;
    height: 5vh;
    color: white;
    background: rgb(19, 18, 18, 0.8);
    border: 1px solid white;
    border-radius: 30px;
    margin-bottom: 5%;
    transition: .3s all ease;
}

.btn-order {
    margin-top: 15%;
}

.choose:hover,
.btn-order:hover {
    width: 12vw;
}

.choose:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}








/* ------------------end of main------ */


/* ------------------backet---------- */


h3 {
    font-size: 2em;
    font-weight: 400;
}

.image {
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 11;
    top: 3%;
    right: 0.3%;
    cursor: pointer;
}

#basket {
    position: fixed;
    color: white;
    background: rgb(51, 45, 45);
    width: 30vw;
    height: 100vh;
    top: 0;
    right: 0;
    display: none;
    opacity: 0;
    z-index: 11;
    transition: .3s ease all;
}

.order-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: none;
}

.order-box::-webkit-scrollbar {
    width: 8px;
    background-color: none;
}

.order-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.8);
}

#basket>hr {
    height: 1px;
    color: white;
    background-color: white;
    border: none;
}

.order-box {
    width: 100%;
    height: 60%;
    overflow-y: scroll;
}

.header-box {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left-part {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right-part {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
    align-items: center;
}

.delete-product {
    width: 30px;
    height: 30px;
    opacity: 0.6;
    transition: all 0.2s;
}

.delete-product:hover {
    transform: scale(1.2);
    opacity: 1;
}

.close-icon {
    width: 20%;
    height: 100%;
    transition: all 0.2s;
}

.close-icon:hover {
    transform: scale(1.2);
}

.plus-elem {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-elem-child {
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box {
    width: 80%;
    margin-left: 10%;
    height: 25%;
}

.for_suma {
    display: block;
    float: left;
}

#suma {
    display: block;
    float: right;
}

.hryvna {
    display: block;
    float: right;
}


/* -------------backet-------------- */








@keyframes jump {
    50% {
        transform: translateY(-3vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes right_basket_move {
    0% {
        transform: translateX(30vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes move {
    50% {
        transform: translateX(60%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes move_nav {
    30% {
        transform: translateX(7vw);
    }

    100% {
        transform: translateX(20vw);
    }
}



@media (max-width: 1200px){
    p{
        font-size: 0.87em;
    }
}
@media (max-width: 1100px) {
    body {
        font-size: 15.8px;
    }

    #navigation {
        width: 7%;
    }

}

@media (max-width: 992px) {
    body {
        font-size: 14.5px;
    }

    #navigation {
        width: 8%;
    }

    #navigation_ol {
        left: -30vw;
        width: 25vw;
    
    }

    .logo {
        width: 25%;
    }

    .big_logo {
        width: 25vw;
        height: 12vw;
    }

    .small-logo-conteiner{
        width: 45%;  
        height: 14%;
    }

    @keyframes move_nav {
        0% {
            transform: translateX(0);
        }
    
        100% {
            transform: translateX(25vw);
        }
    }

}

@media (max-width: 940px){
    .slider{
        display: none;
    }

    .describe {
        bottom: 25%;
        right: 15%;
        width: 65%;
        height: 50%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    #navigation {
        width: 10%;
    }

    #navigation_ol {
        left: -35vw;
        width: 30vw;
    
    }

    .logo {
        width: 30%;
    }

    .big_logo {
        width: 30vw;
        height: 15vw;
    }

    .small-logo-conteiner{
        width: 50%;
        height: 13%;
    }

    @keyframes move_nav {
        0% {
            transform: translateX(0);
        }
    
        100% {
            transform: translateX(30vw);
        }
    }
}

@media (max-width: 524px) {
    body {
        font-size: 13px;
    }

    #navigation {
        width: 12%;
    }

    #navigation_ol {
        left: -40vw;
        width: 35vw;
    
    }

    .logo {
        width: 35%;
    }

    .big_logo {
        width: 35vw;
        height: 17vw;
    }

    .describe {
        right: 10%;
    }

    .small-logo-conteiner{
        width: 55%;
        height: 12%;
    }

    @keyframes move_nav {
        0% {
            transform: translateX(0);
        }
    
        100% {
            transform: translateX(35vw);
        }
    }
}