@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
    font-family: 'Comfortaa', cursive;
}

body {
    margin: 0;
    font-size: 18px;
}

h1 {
    font-size: 2rem;
    margin: 0;
    margin-top: 7%;
    margin-left: 20%;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 5%;
    margin-left: 20%;
    font-weight: 700;
}

p {
    width: 100%;
}

.fieldset {
    width: 40%;
    margin-left: 20%;
    border: 0;
    padding: 0;
}

.for_label {
    display: block;
    float: left;
    width: 49%;
    margin: 2% 0 2% 0;
}

.for_label:focus {
    box-shadow: 0px 0px 1px 2px rgb(132, 205, 214);
    border-color: rgb(132, 205, 214);
}

#name,
#phone,
#email {
    display: block;
    float: left;
    height: 25px;
    width: 49%;
    margin: 2% 0 2% 0;
    border: 2px solid rgb(197, 195, 195);
}

#submit {
    float: right;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    vertical-align: middle;
    height: 2.5rem;
    width: 7rem;
    font-family: "bmwTypeWebBoldAll", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
    cursor: pointer;
    color: #fff;
    background: #2675e4;
    border: 0px;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
}

#submit:hover {
    background: #04439b;
    transition: background 1s ease-out;
}




@media (max-width: 1100px) {
    body {
        font-size: 17.6px;
    }

    .for_label {
        width: 100%;
    }

    #name,
    #phone,
    #email {
        width: 100%;
    }

}

@media (max-width: 992px) {
    body {
        font-size: 16.6px;
    }

}

@media (max-width: 768px) {
    body {
        font-size: 15.6px;
    }
}

@media (max-width: 524px) {
    body {
        font-size: 13.9px;
    }
}